<div class='title'>Travalaka</div>
<p>
Thank you for booking Flight <%= @booking.flight.formatted_flight_number %> with Travalaka! Please review your trip details below.
</p>

<p>
Confirmation Number: <strong><%= @booking.confirmation %></strong> |
<%= link_to 'View Booking', @url %>
</p>

<table>
  <thead>
    <tr>
      <th>Flight #</th>
      <th>Departs</th>
      <th>Arrives</th>
      <th>Date</th>
      <th>Departure</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @booking.flight.formatted_flight_number %></td>
      <td><%= @booking.flight.origin.code %></td>
      <td><%= @booking.flight.destination.code %></td>
      <td><%= @booking.flight.formatted_date %></td>
      <td><%= @booking.flight.formatted_time %></td>
      <td><%= @booking.flight.formatted_duration %></td>
    </tr>
  </tbody>
</table>
<br>
Passengers:
<ul>
  <% @booking.passengers.each do |passenger| %>
    <li><%= passenger.name %></li>
  <% end %>
</ul>

