<table>
  <thead>
    <tr>
      <th>Flight #</th>
      <th>Departs</th>
      <th>Arrives</th>
      <th>Date</th>
      <th>Departure</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= flight.formatted_flight_number %></td>
      <td><%= flight.origin.code %></td>
      <td><%= flight.destination.code %></td>
      <td><%= flight.formatted_date %></td>
      <td><%= flight.formatted_time %></td>
      <td><%= flight.formatted_duration %></td>
    </tr>
  </tbody>
</table>
