<h3>Find a booking</h3>

<%= form_with(url: search_bookings_path, method: :get, local: true) do |form| %>
  <div class='booking-search-form'>
    <%= select_tag(:search_field, options_for_select([['---- Search By ----', 0], ['Confirmation Number', 'confirmation'], ['Email Address', 'email']], { disabled: 0, selected: 0}), id: 'search-booking-select') %>
    <%= form.text_field :search_param %>
    <%= form.button :Search, id: 'search-button' %>
  </div>
<%end %>

<% if @booking %>
  <h4>Bookings for <i><%= @email %></h4>
  <table>
    <thead>
      <tr>
        <th>Confirmation #</th>
        <th>Departs</th>
        <th>Arrives</th>
        <th>Departure Date</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @booking.all.each do |booking| %>
        <tr>
          <td><%= booking.confirmation %></td>
          <td><%= booking.flight.origin.code %></td>
          <td><%= booking.flight.destination.code %></td>
          <td><%= booking.flight.formatted_date %></td>
          <td class='td-booking'>
            <%= button_to 'View Booking', booking_path(booking), method: :get, id: 'booking-button' %>
          </td>
        </tr>
      <% end %>
    <% end %>
